@using TimeTabler.Models
@using Color = MudBlazor.Color
<table class="time-table">
    <thead>
    <tr>
        <th><MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" Size="Size.Large"></MudIconButton></th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th><MudIconButton Icon="@Icons.Material.Filled.ChevronRight" Size="Size.Large"></MudIconButton></th>
    </tr>
    </thead>

    <tbody>

    @for (var i = StartTime; i < EndTime; i = TimeOnly.FromTimeSpan(i).AddHours(0.5, out _wrapped).ToTimeSpan())
    {
        @if (_wrapped > 0)
        {
            _wrapped = 0;
            break;
        }


        <tr>
            <th>@i.ToString("hh\\:mm")</th>
                
            @foreach (var day in DaysShown)
            {
                var task = Tasks.FirstOrDefault(x => x.Date == day && x.StartTime == i);
                var block = Blocks.FirstOrDefault(x => x.Date == day && x.StartTime == i);

                <td>
                    <MudPaper Height="47px" Style=@($"background-color:{Theme.PaletteDark.Dark};")>
                        @if (task != null)
                        {
                            var taskHeight = (task.EndTime - task.StartTime)?.TotalHours * (47 + 13) * 2 - 13; // Each block is 47px high, border-spacing is 3px, removed the additional 2px
                            <div class="task" >
                                <MudPaper Height=@($"{taskHeight}px") Style=@($"background-color: {task.Group?.Color.HexValue ?? "var(--secondary-color-light)"};")>
                                    <div class="task-info">
                                        <p>@(task.Title)</p>
                                        <span>@($"{task.StartTime?.ToString(@"hh\:mm")} – {task.EndTime?.ToString(@"hh\:mm")}")</span>
                                    </div>
                                </MudPaper>
                            </div>
                        }

                        @if (block != null)
                        {
                            var blockHeight = (block.EndTime - block.StartTime).TotalHours * (47 + 13) * 2 - 13; // Each block is 47px high, border-spacing is 3px, removed the additional 2px

                            <div class="block" style="height: @(blockHeight)px; outline: 3px dashed @(block.Group?.Color.HexValue ?? "var(--secondary-color-light)");">
                                <div class="block-fill" style="background-color: @(block.Group?.Color.HexValue ?? "var(--secondary-color-light)");">
                                </div>
                            </div>
                        }

                        @if (day == DateTime.Today && i.Hours == DateTime.Now.Hour && i.Minutes == DateTime.Now.Minute / 30 * 30)
                        {
                            <div id="current-time" style="top: @(-47/2.0 + 47/30.0 * (DateTime.Now.Minute - i.Minutes))px"></div>
                        }
                    </MudPaper>
                </td>
            }
        </tr>
    }


    </tbody>

</table>

@code
{
    [Parameter] public TimeSpan StartTime { get; set; } = new(0, 0, 0);
    [Parameter] public TimeSpan EndTime { get; set; } = new(23, 59, 59);

    [Parameter] public List<TaskModel> Tasks { get; set; } = [];
    [Parameter] public List<BlockModel> Blocks { get; set; } = [];
    [Parameter] public List<GroupModel> Groups { get; set; } = [];

    [CascadingParameter] public MudTheme Theme { get; set; }

    public List<DateTime> DaysShown { get; set; } = [];

    private int _wrapped = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var today = DateTime.Today;

        // Get the start of the week
        var startOfWeek = today.AddDays(-(int)today.DayOfWeek);

        // Get the end of the week
        var endOfWeek = startOfWeek.AddDays(7);

        // Add the days to the list
        for (var day = startOfWeek; day < endOfWeek; day = day.AddDays(1))
        {
            DaysShown.Add(day);
        }

    }

    private void NextWeek()
    {
        var lastDay = DaysShown.Last();
        var nextWeek = lastDay.AddDays(1);
        var endOfWeek = nextWeek.AddDays(7);
        DaysShown.Clear();
        for (var day = nextWeek; day < endOfWeek; day = day.AddDays(1))
        {
            DaysShown.Add(day);
        }
    }

    private void PreviousWeek()
    {
        var firstDay = DaysShown.First();
        var previousWeek = firstDay.AddDays(-7);
        var endOfWeek = previousWeek.AddDays(7);
        DaysShown.Clear();
        for (var day = previousWeek; day < endOfWeek; day = day.AddDays(1))
        {
            DaysShown.Add(day);
        }
    }

}
